header {
  width: 100%;
  color: #08A6E4;
  position: fixed;
  z-index: 1000;
  box-shadow: 10px 2px 15px gray;
  padding: 2% 5%;
  top: 0;
  background-color: white;
}

header h1 {
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.toggle-menu {
  display: inline-block;
  max-width: 15%;
  position: fixed;
  right: 0;
  top: 1.8rem;
  padding: 2%;
}

.toggle-menu span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.3rem;
  background-color: var(--primary-color);
}

.container .sell-more {
  padding: 0 10%;
}
.container .sell-more input {
  background-color: var(--primary-color);
  padding: 8% 10%;
  border-radius: 100px;
  border: none;
  margin-top: 1rem;
  width: 100%;
  color: white;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.container img {
  width: 100%;
  height: auto;
  text-align: center;
}
.container .most-popular {
  width: 90%;
  margin: auto;
  text-align: center;
}
.container .most-popular h2 {
  font-weight: normal;
}
.container .most-popular .most-popular-element {
  text-align: center;
}
.container .most-popular .most-popular-element img {
  display: inline-block;
  width: 15%;
  position: absolute;
  right: 7.2rem;
}
.container .most-popular .most-popular-element .eye-img {
  display: inline-block;
  width: 15%;
  position: absolute;
  right: 7.2rem;
  margin-top: 5%;
}
.container .most-popular .most-popular-element p {
  opacity: 0.5;
}
.container .most-popular .most-popular-element .pink-circle {
  display: inline-block;
  background: #FB3B64;
  width: 20%;
  height: 3.5rem;
  border-radius: 100%;
}
.container .most-popular .most-popular-element .blue-circle {
  display: inline-block;
  background: #08A6E4;
  width: 20%;
  height: 3.5rem;
  border-radius: 100%;
}
.container .most-popular .most-popular-element .green-circle {
  display: inline-block;
  background: #55DFB4;
  width: 20%;
  height: 3.5rem;
  border-radius: 100%;
}

.benefits {
  background: #F7F7F7;
  padding: 10% 7%;
}
.benefits .benefits-element {
  padding: 7%;
  text-align: start;
  margin-top: 5%;
  background: #FFFFFF;
  border-radius: 1%;
}
.benefits .benefits-element .circle-and-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  height: 30%;
}
.benefits .benefits-element .circle-and-img-container img {
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 5%;
}
.benefits .benefits-element .circle-and-img-container .pink-circle {
  position: absolute;
  right: 2rem;
  background: #FB3B64;
  width: 35%;
  height: 5rem;
  border-radius: 50%;
  z-index: 1;
  top: 0rem;
}
.benefits .benefits-element .circle-and-img-container .blue-circle {
  position: absolute;
  right: 4rem;
  background: #08A6E4;
  width: 50%;
  height: 7rem;
  border-radius: 100%;
  z-index: 1;
  top: 0rem;
}
.benefits .benefits-element-trumpet {
  text-align: start;
  background: #55DFB4;
  border-radius: 1%;
  height: 12rem;
}
.benefits .benefits-element-trumpet img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 2rem;
}
.benefits h2 {
  font-weight: normal;
}

.pricing {
  padding: 5%;
}
.pricing h2 {
  font-weight: normal;
}
.pricing .pricing-pink-element {
  border: 2px solid #FB3B64;
  border-radius: 18px;
  padding: 2%;
  font-size: 0.6rem;
}
.pricing .pricing-pink-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-pink-element .plan h3 {
  margin: 0;
}
.pricing .pricing-pink-element .plan p {
  color: #FB3B64;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-pink-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-pink-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-pink-element .characteristics .characteristics-pair .green-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #55DFB4;
  display: inline-block;
  background-image: url("../../assets/Vector 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pricing .pricing-pink-element .characteristics .characteristics-pair .pink-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #EB476E;
  display: inline-block;
  text-align: center;
}
.pricing .pricing-pink-element .characteristics .characteristics-pair .pink-box p {
  color: #EB476E;
  font-size: 11px;
  margin: 0;
}
.pricing .pricing-pink-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-pink-element input[type=button] {
  background: #EB476E;
  color: white;
  padding: 5%;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  bottom: -1.5rem;
}
.pricing .pricing-blue-element {
  margin-top: 3rem;
  border: 2px solid #07ACE6;
  border-radius: 18px;
  padding: 2%;
  font-size: 0.6rem;
}
.pricing .pricing-blue-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-blue-element .plan h3 {
  margin: 0;
}
.pricing .pricing-blue-element .plan p {
  color: #07ACE6;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-blue-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-blue-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-blue-element .characteristics .characteristics-pair .green-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #55DFB4;
  display: inline-block;
  background-image: url("../../assets/Vector 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pricing .pricing-blue-element .characteristics .characteristics-pair .pink-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #EB476E;
  display: inline-block;
  text-align: center;
}
.pricing .pricing-blue-element .characteristics .characteristics-pair .pink-box p {
  color: #EB476E;
  font-size: 11px;
  margin: 0;
}
.pricing .pricing-blue-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-blue-element input[type=button] {
  background: #07ACE6;
  color: white;
  padding: 5%;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  bottom: -1.5rem;
}
.pricing .pricing-green-element {
  margin-top: 3rem;
  border: 2px solid #55DFB4;
  border-radius: 18px;
  padding: 2%;
  font-size: 0.6rem;
}
.pricing .pricing-green-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-green-element .plan h3 {
  margin: 0;
}
.pricing .pricing-green-element .plan p {
  color: #55DFB4;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-green-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-green-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-green-element .characteristics .characteristics-pair .green-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #55DFB4;
  display: inline-block;
  background-image: url("../../assets/Vector 3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pricing .pricing-green-element .characteristics .characteristics-pair .pink-box {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  border: 1px solid #EB476E;
  display: inline-block;
  text-align: center;
}
.pricing .pricing-green-element .characteristics .characteristics-pair .pink-box p {
  color: #EB476E;
  font-size: 11px;
  margin: 0;
}
.pricing .pricing-green-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-green-element input[type=button] {
  background: #55DFB4;
  color: white;
  padding: 5%;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  bottom: -1.5rem;
}

.any-questions {
  margin-top: 2rem;
  padding: 5%;
  text-align: start;
}
.any-questions h2 {
  font-weight: normal;
}
.any-questions .img-and-text {
  text-align: start;
}
.any-questions .img-and-text p {
  color: #A5A5A5;
  display: inline-block;
  margin: auto;
}
.any-questions .img-and-text img {
  display: inline-block;
}
.any-questions input[type=button] {
  background: #08A6E4;
  width: 70%;
  padding: 7%;
  border: none;
  color: white;
  border-radius: 35px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  margin-top: 3rem;
  margin-left: 4rem;
}
.any-questions input[type=checkbox] {
  margin-top: 5rem;
  background-color: transparent;
}
.any-questions input:checked {
  background: none;
}
.any-questions label {
  font-size: 0.8rem;
  color: #707070;
}
.any-questions .form form {
  margin-top: 1rem;
}
.any-questions .form form input {
  border: none;
  border-bottom: 2px solid #95989A;
  display: block;
  position: static;
  margin-top: 1.5rem;
}
.any-questions .form form label {
  color: #08A6E4;
  display: block;
  position: static;
  margin-top: 2rem;
}

footer {
  position: relative;
  bottom: 0;
  top: 10rem;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
footer .text {
  display: inline-block;
}
footer .text h2 {
  font-weight: normal;
  color: #08A6E4;
}
footer .text p {
  color: #A5A5A5;
  font-size: 0.8rem;
}
footer .footer {
  display: inline-block;
}
footer .footer img {
  display: inline-block;
}

:root {
  --primary-color: #08A6E4;
}

html {
  font-size: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
}
body h1, body h2, body h3, body h4 {
  font-family: "Raleway", serif;
}

main {
  text-align: center;
  position: relative;
  top: 8rem;
}

/*# sourceMappingURL=styles.css.map */
