.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0.5rem;
  background: var(--primary-color);
  z-index: 1001;
}

header {
  width: 100%;
  color: #08A6E4;
  position: fixed;
  z-index: 1000;
  box-shadow: 10px 2px 15px gray;
  padding: 2% 5%;
  top: 0;
  background-color: white;
}
header nav {
  display: none;
}
header nav ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  text-align: start;
}
header nav ul li a {
  text-decoration: 0;
  color: #A5A5A5;
  height: 100%;
  transition: all 0.3s ease-in;
  font-size: 0.7rem;
}
header nav ul li a:hover {
  color: black;
  font-weight: bold;
}
header h1 {
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.toggle-menu {
  display: inline-block;
  position: fixed;
  right: 1rem;
  top: 1.8rem;
  padding: 2%;
}

.toggle-menu span {
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 3 \2502  @use 'popUpModal';\d\a   \2502  ^^^^^^^^^^^^^^^^^\a   \2575 \a   styles\\scss\\styles.scss 3:1  root stylesheet";
}
