header {
  width: 100%;
  color: #08A6E4;
  position: fixed;
  z-index: 1000;
  box-shadow: 10px 2px 15px gray;
  padding: 2% 5%;
  top: 0;
  background-color: white;
}
header nav {
  display: none;
}

header h1 {
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.toggle-menu {
  display: inline-block;
  max-width: 15%;
  position: fixed;
  right: 0;
  top: 1.8rem;
  padding: 2%;
}

.toggle-menu span {
  display: block;
  width: 2rem;
  height: 0.2rem;
  margin: 0.3rem;
  background-color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
  header {
    padding: 0 0;
    display: flex;
    justify-content: space-between;
  }
  header h1 {
    margin-left: 5%;
  }
  header nav {
    display: block;
    width: 35%;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 3rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  header nav ul li a {
    text-decoration: 0;
    color: #A5A5A5;
    height: 100%;
    transition: all 0.3s ease-in;
    font-size: 0.6rem;
  }
  header nav ul li a:hover {
    color: black;
    font-weight: bold;
  }
  header nav ul li a:focus {
    border-bottom: solid 2px #08A6E4;
  }
}
@media screen and (min-width: 1980px) {
  header nav {
    display: block;
    width: 35%;
  }
  header nav ul {
    gap: 7rem;
  }
  header nav ul li a {
    font-size: 1.3rem;
  }
}
.container .sell-more {
  padding: 0 10%;
}
.container .sell-more input {
  background-color: var(--primary-color);
  padding: 5% 0;
  border-radius: 100px;
  border: none;
  margin-top: 1rem;
  width: 60%;
  color: white;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.2901960784);
}
.container .sell-more h2 {
  font-size: 2rem;
}
.container img {
  width: 100%;
  height: auto;
  text-align: center;
}
.container .most-popular {
  width: 90%;
  margin: auto;
  text-align: center;
}
.container .most-popular h2 {
  font-weight: normal;
}
.container .most-popular .most-popular-element-container {
  margin-top: 5%;
}
.container .most-popular .most-popular-element-container .most-popular-element {
  text-align: center;
}
.container .most-popular .most-popular-element-container .most-popular-element img {
  display: inline-block;
  width: 12%;
  position: absolute;
  right: 9.5rem;
}
.container .most-popular .most-popular-element-container .most-popular-element .eye-img {
  display: inline-block;
  width: 15%;
  position: absolute;
  right: 9.2rem;
  margin-top: 5%;
}
.container .most-popular .most-popular-element-container .most-popular-element .catalog-img {
  display: inline-block;
  width: 12%;
  position: absolute;
  right: 9.5rem;
  margin-top: 2%;
}
.container .most-popular .most-popular-element-container .most-popular-element p {
  opacity: 0.5;
}
.container .most-popular .most-popular-element-container .most-popular-element .pink-circle {
  display: inline-block;
  background: #FB3B64;
  width: 20%;
  height: 4rem;
  border-radius: 100%;
}
.container .most-popular .most-popular-element-container .most-popular-element .blue-circle {
  display: inline-block;
  background: #08A6E4;
  width: 20%;
  height: 4rem;
  border-radius: 100%;
}
.container .most-popular .most-popular-element-container .most-popular-element .green-circle {
  display: inline-block;
  background: #55DFB4;
  width: 20%;
  height: 4rem;
  border-radius: 100%;
}

@media screen and (min-width: 768px) {
  .container .sell-more input {
    padding: 3.5%;
    width: 40%;
    font-size: 1rem;
  }
  .container .sell-more h2 {
    font-size: 2.5rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element img {
    width: 10%;
    right: 16rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .eye-img {
    width: 12%;
    right: 15.5rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .catalog-img {
    width: 10%;
    right: 16rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .pink-circle {
    display: inline-block;
    background: #FB3B64;
    width: 18%;
    height: 6rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .blue-circle {
    display: inline-block;
    background: #08A6E4;
    width: 18%;
    height: 6rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .green-circle {
    display: inline-block;
    background: #55DFB4;
    width: 18%;
    height: 6rem;
    border-radius: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container .sell-more input {
    padding: 3% 2%;
    width: 35%;
    font-size: 1.2rem;
  }
  .container .most-popular .most-popular-element-container {
    display: flex;
    justify-content: space-around;
  }
  .container .most-popular .most-popular-element-container .most-popular-element {
    width: 30%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element img {
    width: 6%;
    left: 12.5rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .eye-img {
    width: 8%;
    right: 27rem;
    left: auto;
    margin-top: 2%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .catalog-img {
    width: 6%;
    right: 9rem;
    left: auto;
    margin-top: 1%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .pink-circle {
    display: inline-block;
    background: #FB3B64;
    width: 35%;
    height: 5.5rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .blue-circle {
    display: inline-block;
    background: #08A6E4;
    width: 35%;
    height: 5.5rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .green-circle {
    display: inline-block;
    background: #55DFB4;
    width: 35%;
    height: 5.5rem;
    border-radius: 100%;
  }
}
@media (min-width: 1980px) {
  .container {
    margin-top: 5%;
  }
  .container .sell-more input {
    padding: 2%;
    width: 25%;
    font-size: 2rem;
  }
  .container .sell-more h2 {
    font-size: 4rem;
  }
  .container .most-popular .most-popular-element-container {
    display: flex;
    justify-content: space-around;
  }
  .container .most-popular .most-popular-element-container .most-popular-element {
    width: 30%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element img {
    width: 4%;
    left: 32rem;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .eye-img {
    width: 5%;
    right: 73rem;
    left: auto;
    margin-top: 1%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .catalog-img {
    width: 3%;
    right: 26rem;
    left: auto;
    margin-top: 1%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .pink-circle {
    display: inline-block;
    background: #FB3B64;
    width: 20%;
    height: 8rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .blue-circle {
    display: inline-block;
    background: #08A6E4;
    width: 20%;
    height: 8rem;
    border-radius: 100%;
  }
  .container .most-popular .most-popular-element-container .most-popular-element .green-circle {
    display: inline-block;
    background: #55DFB4;
    width: 20%;
    height: 8rem;
    border-radius: 100%;
  }
}
.benefits {
  background: #F7F7F7;
  padding: 10% 7%;
}
.benefits .benefits-element {
  padding: 7%;
  text-align: start;
  margin-top: 5%;
  background: #FFFFFF;
  border-radius: 1%;
}
.benefits .benefits-element .circle-and-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  height: 30%;
}
.benefits .benefits-element .circle-and-img-container img {
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 5%;
}
.benefits .benefits-element .pink-circle {
  position: absolute;
  right: 4rem;
  background: #FB3B64;
  width: 30%;
  height: 5rem;
  border-radius: 1rem;
  z-index: 1;
  top: 0rem;
  transform: rotate(45deg);
}
.benefits .benefits-element-iphone {
  padding: 7%;
  text-align: start;
  margin-top: 5%;
  background: #FFFFFF;
  border-radius: 1%;
}
.benefits .benefits-element-iphone .circle-and-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  height: 30%;
}
.benefits .benefits-element-iphone .circle-and-img-container img {
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 5%;
}
.benefits .benefits-element-iphone .blue-circle {
  position: absolute;
  right: 5rem;
  background: #08A6E4;
  width: 50%;
  height: 8rem;
  border-radius: 100%;
  z-index: 1;
  top: 0;
}
.benefits .benefits-element-trumpet {
  text-align: start;
  background: #55DFB4;
  border-radius: 1%;
  height: 12rem;
}
.benefits .benefits-element-trumpet img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 2rem;
}
.benefits h2 {
  font-weight: normal;
}
.benefits .benefits-element-bottom {
  padding: 7%;
  text-align: start;
  margin-top: 5%;
  background: #FFFFFF;
  border-radius: 1%;
}
.benefits .benefits-element-bottom .circle-and-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 5%;
  height: 30%;
}
.benefits .benefits-element-bottom .circle-and-img-container img {
  position: relative;
  display: inline-block;
  z-index: 10;
  margin-top: 5%;
}

@media screen and (min-width: 768px) {
  .benefits {
    padding: 7% 7%;
  }
  .benefits .benefits-element .circle-and-img-container img {
    margin-top: 3%;
  }
  .benefits .benefits-element .circle-and-img-container .pink-circle {
    right: 10rem;
    width: 20%;
    height: 5rem;
  }
  .benefits .benefits-element-iphone .blue-circle {
    position: absolute;
    right: 11rem;
    background: #08A6E4;
    width: 30%;
    height: 8rem;
    top: 0rem;
  }
  .benefits .benefits-element-trumpet {
    text-align: start;
    background: #55DFB4;
    border-radius: 1%;
    height: 12rem;
  }
  .benefits .benefits-element-trumpet img {
    width: 70%;
    height: 70%;
    position: relative;
    top: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding: 1% 15%;
  }
  .benefits .benefits-element {
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
  }
  .benefits .benefits-element .benefits-element-text-mac {
    border-bottom: solid 4px #FB3B64;
  }
  .benefits .benefits-element .circle-and-img-container {
    margin-top: 1%;
    height: 100%;
  }
  .benefits .benefits-element .circle-and-img-container img {
    margin-top: 1%;
    width: 100%;
  }
  .benefits .benefits-element .circle-and-img-container .pink-circle {
    right: 0rem;
    width: 50%;
    height: 6rem;
    border-radius: 1.5rem;
  }
  .benefits .benefits-element-iphone {
    display: flex;
    align-items: center;
  }
  .benefits .benefits-element-iphone .benefits-element-text-iphone {
    border-bottom: solid 4px #08A6E4;
  }
  .benefits .benefits-element-iphone .circle-and-img-container {
    margin: 0;
    height: 100%;
  }
  .benefits .benefits-element-iphone .circle-and-img-container img {
    margin-top: 0;
    width: 100%;
  }
  .benefits .benefits-element-iphone .circle-and-img-container .blue-circle {
    left: 0rem;
    background: #08A6E4;
    width: 90%;
    height: 11rem;
    bottom: 20rem;
  }
  .benefits .bottom-benefits {
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
  }
  .benefits .bottom-benefits .benefits-element-bottom {
    text-align: start;
    padding: 5%;
    width: 50%;
    height: 100%;
  }
  .benefits .bottom-benefits .benefits-element-bottom p {
    border-bottom: solid 4px #55DFB4;
    padding-bottom: 3%;
  }
  .benefits .bottom-benefits .benefits-element-trumpet {
    margin-top: 5%;
    text-align: start;
    background: #55DFB4;
    border-radius: 1%;
    width: 35%;
    height: 17.5rem;
  }
  .benefits .bottom-benefits .benefits-element-trumpet img {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
  }
}
@media screen and (min-width: 1980px) {
  .benefits {
    padding: 1% 15%;
  }
  .benefits .benefits-element {
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
  }
  .benefits .benefits-element .benefits-element-text-mac {
    border-bottom: solid 4px #FB3B64;
  }
  .benefits .benefits-element .circle-and-img-container {
    margin-top: 1%;
    height: 100%;
  }
  .benefits .benefits-element .circle-and-img-container img {
    margin-top: 1%;
    width: 60%;
  }
  .benefits .benefits-element .circle-and-img-container .pink-circle {
    right: 8rem;
    width: 30%;
    height: 10rem;
    border-radius: 2rem;
  }
  .benefits .benefits-element-iphone {
    display: flex;
    align-items: center;
  }
  .benefits .benefits-element-iphone .benefits-element-text-iphone {
    border-bottom: solid 4px #08A6E4;
  }
  .benefits .benefits-element-iphone .circle-and-img-container {
    margin: 0;
    height: 100%;
  }
  .benefits .benefits-element-iphone .circle-and-img-container img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 100%;
  }
  .benefits .benefits-element-iphone .circle-and-img-container .blue-circle {
    position: relative;
    right: 8rem;
    background: #08A6E4;
    width: 80%;
    height: 30rem;
    bottom: 20rem;
  }
  .benefits .bottom-benefits {
    display: flex;
    justify-content: space-between;
    padding: 5% 2%;
  }
  .benefits .bottom-benefits .benefits-element-bottom {
    text-align: start;
    padding: 5%;
    width: 50%;
    height: 100%;
  }
  .benefits .bottom-benefits .benefits-element-bottom p {
    border-bottom: solid 4px #55DFB4;
    padding-bottom: 3%;
  }
  .benefits .bottom-benefits .benefits-element-trumpet {
    margin-top: 5%;
    text-align: start;
    background: #55DFB4;
    border-radius: 1%;
    width: 35%;
    height: 29.3rem;
  }
  .benefits .bottom-benefits .benefits-element-trumpet img {
    width: 60%;
    height: auto;
    position: relative;
  }
}
.pricing {
  padding: 5%;
  width: 90%;
}
.pricing h2 {
  font-weight: normal;
}
.pricing .pricing-element-red-container {
  margin-top: 15%;
}
.pricing .pricing-element-red-container .pricing-element {
  border: 2px solid #FB3B64;
  border-radius: 18px;
  font-size: 0.6rem;
  width: 100%;
}
.pricing .pricing-element-red-container .pricing-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-element-red-container .pricing-element .plan h3 {
  margin: 0;
}
.pricing .pricing-element-red-container .pricing-element .plan p {
  color: #FB3B64;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-element-red-container .pricing-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-element-red-container .pricing-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-element-red-container .pricing-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-element-red-container input[type=button] {
  background: #FB3B64;
  color: white;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  text-align: center;
  position: relative;
  bottom: -1.6rem;
}
.pricing .pricing-element-red-container .pricing-element .plan h4 {
  visibility: hidden;
}
.pricing .pricing-element-blue-container {
  margin-top: 15%;
}
.pricing .pricing-element-blue-container .pricing-element {
  border: 2px solid #07ACE6;
  border-radius: 18px;
  font-size: 0.6rem;
  width: 100%;
}
.pricing .pricing-element-blue-container .pricing-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-element-blue-container .pricing-element .plan h3 {
  margin: 0;
}
.pricing .pricing-element-blue-container .pricing-element .plan p {
  color: #07ACE6;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-element-blue-container .pricing-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-element-blue-container input[type=button] {
  background: #07ACE6;
  color: white;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  text-align: center;
  position: relative;
  bottom: -1.6rem;
}
.pricing .pricing-element-green-container {
  margin-top: 15%;
}
.pricing .pricing-element-green-container .pricing-element {
  border: 2px solid #55DFB4;
  border-radius: 18px;
  font-size: 0.6rem;
  width: 100%;
}
.pricing .pricing-element-green-container .pricing-element .plan {
  display: inline-block;
  padding: 2%;
  width: 45%;
  margin: auto;
  font-size: 1rem;
}
.pricing .pricing-element-green-container .pricing-element .plan h3 {
  margin: 0;
}
.pricing .pricing-element-green-container .pricing-element .plan p {
  color: #55DFB4;
  font-size: 3rem;
  margin: 0;
}
.pricing .pricing-element-green-container .pricing-element .characteristics {
  display: inline-block;
  padding: 2%;
  width: 45%;
}
.pricing .pricing-element-green-container .pricing-element .characteristics .characteristics-pair {
  text-align: start;
}
.pricing .pricing-element-green-container .pricing-element .characteristics .characteristics-pair p {
  display: inline-block;
}
.pricing .pricing-element-green-container input[type=button] {
  background: #55DFB4;
  color: white;
  border-radius: 23px;
  border: none;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  text-align: center;
  position: relative;
  bottom: -1.6rem;
}

@media screen and (min-width: 768px) {
  .pricing {
    padding: 5% 20%;
  }
}
@media screen and (min-width: 1200px) {
  .pricing {
    padding: 5% 0;
    width: 100%;
  }
  .pricing .pricing-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: transparent;
  }
  .pricing .pricing-elements .pricing-element-green-container {
    margin-top: 15%;
    margin-top: 5%;
    width: 30%;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element {
    border: 2px solid #55DFB4;
    border-radius: 18px;
    font-size: 0.6rem;
    width: 100%;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .plan {
    display: inline-block;
    padding: 2%;
    width: 45%;
    margin: auto;
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .plan h3 {
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .plan p {
    color: #55DFB4;
    font-size: 3rem;
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics {
    display: inline-block;
    padding: 2%;
    width: 45%;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair {
    text-align: start;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair p {
    display: inline-block;
  }
  .pricing .pricing-elements .pricing-element-green-container input[type=button] {
    background: #55DFB4;
    color: white;
    border-radius: 23px;
    border: none;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    text-align: center;
    position: relative;
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-green-container input[type=button] {
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair img {
    width: 1rem;
    height: 1rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px #55DFB4;
  }
  .pricing .pricing-elements .pricing-element-red-container {
    margin-top: 15%;
    margin-top: 5%;
    width: 30%;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element {
    border: 2px solid #FB3B64;
    border-radius: 18px;
    font-size: 0.6rem;
    width: 100%;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .plan {
    display: inline-block;
    padding: 2%;
    width: 45%;
    margin: auto;
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .plan h3 {
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .plan p {
    color: #FB3B64;
    font-size: 3rem;
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics {
    display: inline-block;
    padding: 2%;
    width: 45%;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair {
    text-align: start;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair p {
    display: inline-block;
  }
  .pricing .pricing-elements .pricing-element-red-container input[type=button] {
    background: #FB3B64;
    color: white;
    border-radius: 23px;
    border: none;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    text-align: center;
    position: relative;
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-red-container input[type=button] {
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair img {
    width: 1rem;
    height: 1rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px #FB3B64;
  }
  .pricing .pricing-elements .pricing-element-blue-container {
    margin-top: 15%;
    margin-top: 5%;
    width: 30%;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element {
    border: 2px solid #07ACE6;
    border-radius: 18px;
    font-size: 0.6rem;
    width: 100%;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .plan {
    display: inline-block;
    padding: 2%;
    width: 45%;
    margin: auto;
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .plan h3 {
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .plan p {
    color: #07ACE6;
    font-size: 3rem;
    margin: 0;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics {
    display: inline-block;
    padding: 2%;
    width: 45%;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair {
    text-align: start;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair p {
    display: inline-block;
  }
  .pricing .pricing-elements .pricing-element-blue-container input[type=button] {
    background: #07ACE6;
    color: white;
    border-radius: 23px;
    border: none;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    text-align: center;
    position: relative;
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container input[type=button] {
    bottom: -1.6rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair img {
    width: 1rem;
    height: 1rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 1rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 0px #07ACE6;
  }
}
@media screen and (min-width: 1980px) {
  .pricing {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-red-container {
    width: 20%;
    margin-top: 5%;
  }
  .pricing .pricing-elements .pricing-element-red-container input[type=button] {
    width: 50%;
    height: 5rem;
    border-radius: 100rem;
    padding: 0;
    font-size: 2rem;
    bottom: -3rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .plan {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .pricing .pricing-elements .pricing-element-red-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container {
    width: 20%;
    margin-top: 5%;
  }
  .pricing .pricing-elements .pricing-element-blue-container input[type=button] {
    width: 50%;
    height: 5rem;
    border-radius: 100rem;
    padding: 0;
    font-size: 2rem;
    bottom: -3rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .plan {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .pricing .pricing-elements .pricing-element-blue-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-green-container {
    width: 20%;
    margin-top: 5%;
  }
  .pricing .pricing-elements .pricing-element-green-container input[type=button] {
    width: 50%;
    height: 5rem;
    border-radius: 100rem;
    padding: 0;
    font-size: 2rem;
    bottom: -3rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element {
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .plan {
    font-size: 2rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair {
    width: 60%;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .pricing .pricing-elements .pricing-element-green-container .pricing-element .characteristics .characteristics-pair p {
    font-size: 2rem;
  }
}
.any-questions {
  margin-top: 2rem;
  padding: 5%;
  text-align: start;
}
.any-questions h2 {
  font-weight: normal;
}
.any-questions .img-and-text {
  text-align: start;
}
.any-questions .img-and-text p {
  color: #A5A5A5;
  display: inline-block;
  margin: auto;
}
.any-questions .img-and-text img {
  display: inline-block;
}
.any-questions input[type=button] {
  background: #08A6E4;
  width: 40%;
  padding: 4% 0;
  border: none;
  color: white;
  border-radius: 35px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-size: 1rem;
  margin-top: 3rem;
  margin-left: 14rem;
}
.any-questions input[type=checkbox] {
  margin-top: 5rem;
}
.any-questions label {
  font-size: 0.8rem;
  color: #707070;
}
.any-questions .form {
  width: 100%;
}
.any-questions .form form {
  margin-top: 1rem;
  width: 100%;
}
.any-questions .form form input {
  border: none;
  border-bottom: 2px solid #95989A;
  display: block;
  position: static;
  margin-top: 1.5rem;
  width: 100%;
  height: 1rem;
  outline: none;
  transition: all 0.3s ease-in;
}
.any-questions .form form input:focus {
  border-bottom: 2px solid #08A6E4;
}
.any-questions .form form label {
  width: 100%;
  color: #08A6E4;
  display: block;
  position: static;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .any-questions input[type=button] {
    width: 20%;
    padding: 3%;
    margin-left: 30rem;
  }
  .any-questions .form form input {
    font-size: 1rem;
  }
  .any-questions .img-and-text {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .any-questions .img-and-text img {
    display: block;
  }
  .any-questions .img-and-text p {
    margin-left: 1rem;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .any-questions {
    padding: 5% 15%;
  }
  .any-questions h2 {
    font-size: 2rem;
  }
  .any-questions .form form input {
    font-size: 1rem;
  }
  .any-questions .any-questions-container {
    display: flex;
    justify-content: space-between;
  }
  .any-questions .any-questions-container div {
    width: 45%;
  }
  .any-questions .any-questions-container div .contact-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }
  .any-questions .any-questions-container div .contact-info .img-and-text {
    display: flex;
  }
  .any-questions .any-questions-container div .contact-info .img-and-text img {
    width: 20%;
  }
  .any-questions .any-questions-container div .contact-info .img-and-text p {
    width: 80%;
    margin: 0;
  }
  .any-questions input[type=button] {
    width: 20%;
    margin-left: 35rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1980px) {
  .any-questions {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2rem;
  }
  .any-questions h2 {
    font-size: 4rem;
  }
  .any-questions input[type=checkbox] {
    transform: scale(3);
    margin: 5rem 1% 1% 0;
  }
  .any-questions .form form input {
    height: 2.5rem;
    font-size: 2rem;
  }
  .any-questions .any-questions-container div .contact-info {
    margin-top: 5rem;
  }
  .any-questions .any-questions-container .form form label {
    font-size: 2rem;
  }
  .any-questions .any-questions-container .form label {
    font-size: 2rem;
  }
  .any-questions input[type=button] {
    font-size: 2rem;
    width: 15%;
    padding: 1.5% 0;
    border-radius: 10rem;
  }
}
footer {
  position: relative;
  bottom: 0;
  top: 10rem;
  background: #F7F7F7;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  padding: 2% 4%;
}
footer .text {
  display: inline-block;
  width: 60%;
}
footer .text h2 {
  font-weight: normal;
  color: #08A6E4;
  margin: 0;
}
footer .text p {
  color: #A5A5A5;
  font-size: 0.6rem;
  margin: 0;
}
footer .footer-imgs {
  width: 30%;
  text-align: center;
  display: inline-block;
  margin-left: 2rem;
}
footer .footer-imgs img {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .footer-imgs {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .footer-imgs img {
    height: 60%;
  }
}
@media screen and (min-width: 1980px) {
  footer {
    padding: 1%;
  }
  footer .text p {
    font-size: 1.5rem;
  }
  .footer-imgs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5%;
  }
}
:root {
  --primary-color: #08A6E4;
}

html {
  font-size: 19px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Open Sans", serif;
}
body h1, body h2, body h3, body h4 {
  font-family: "Raleway", serif;
}

input {
  transition: transform 0.3s ease-in;
}

input:hover {
  cursor: pointer;
  transform: scale(1.05);
}

main {
  text-align: center;
  position: relative;
  top: 8rem;
}

@media screen and (min-width: 1980px) {
  body {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
