.any-questions{
    margin-top: 2rem;
    padding: 5%;
    text-align: start;

    h2{
        font-weight: normal;
    }

    .img-and-text{
        text-align: start;
        p{
            color: #A5A5A5;
            display: inline-block;
            margin: auto;
        }

        img{
            display: inline-block;
        }
    }

    input[type="button"]{
        background: #08A6E4;
        width: 60%;
        padding: 6% 0;
        border: none;
        color: white;
        border-radius: 35px;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        margin-top: 3rem;
        margin-left: 6rem;
    }
    input[type="checkbox"]{
        margin-top: 5rem;
    }

    label{
        font-size: 0.8rem;
        color: #707070;
    }

    .form{
        width: 100%;
        form{
            margin-top: 1rem;
            width: 100%;
            input{
                border: none;
                border-bottom: 2px solid #95989A;
                display: block;
                position: static;
                margin-top: 1.5rem;
                width: 100%;
            }

            label{
                width: 100%;
                color: #08A6E4;
                display: block;
                position: static;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (min-width: 768px){
    .any-questions{
        input[type="button"]{
            width: 30%;
            padding: 3%;
            margin-left: 20rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .any-questions{
        padding: 5% 15%;
        h2{
            font-size: 2rem;
        }
        .any-questions-container{
            display: flex;
            justify-content: space-between;

            div{
                width: 45%;

                .contact-info{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .img-and-text{
                        display: flex;
                        img{
                            width: 20%;
                        }
                        p{
                            width: 80%;
                            margin: 0;
                        }
                    }
                }
            }
        }
        input[type="button"]{
            margin-left: 30rem;
        }
    }
}

@media screen and (min-width: 1980px) {
    .any-questions{
        display: flex;
        flex-direction: column;
        align-items: end;
        font-size: 2rem;

        h2{
            font-size: 4rem;
        }

        .any-questions-container{
            .form{
                form{
                    label{
                        font-size: 2rem;
                    }
                }
            
                label{
                    font-size: 2rem;
                }
            }
        }
        input[type="button"]{
            font-size: 2rem;
            width: 20%;
            padding: 2% 0;
            border-radius: 10rem;
        }
    }
}