.benefits {
    background: #F7F7F7;
    padding: 10% 7%;

    .benefits-element{
        padding: 7%;
        text-align: start;
        margin-top: 5%;
        background: #FFFFFF;
        border-radius: 1%;

        .circle-and-img-container{
            width: 100%;
            position: relative;
            text-align: center;
            margin-top: 5%;
            height: 30%;

            img{
                position: relative;
                display: inline-block;
                z-index: 10;
                margin-top: 5%;
            }

            .pink-circle{
                position: absolute;
                right: 2rem;
                background: #FB3B64;
                width: 35%;
                height: 5rem;
                border-radius: 50%;
                z-index: 1;
                top: 0rem;
            }

            .blue-circle{
                position: absolute;
                right: 4rem;
                background: #08A6E4;
                width: 50%;
                height: 7rem;
                border-radius: 100%;
                z-index: 1;
                top: 0rem;
            }
        }
    }

    .benefits-element-trumpet{
        text-align: start;
        background: #55DFB4;
        border-radius: 1%;
        height: 12rem;

        img{
            width: 100%;
            height: 100%;
            position: relative;
            top: 2rem;
        }
    }

    h2{
        font-weight: normal;
    }
}

