@use 'mixins' as *;

.benefits {
    background: #F7F7F7;
    padding: 10% 7%;

    .benefits-element{
        @include benefit-element();
        .pink-circle{
            position: absolute;
            right: 4rem;
            background: #FB3B64;
            width: 5rem;
            height: 5rem;
            border-radius: 1rem;
            z-index: 1;
            top: 0rem;
            transform: rotate(45deg);
        }
    }

    .benefits-element-iphone{
        @include benefit-element();
        .blue-circle{
            position: relative;
            background: #08A6E4;
            left: 5.5rem;
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
            z-index: 1;
            top: 0;
            img{
                left: 1rem;
            }
        }
    }

    .benefits-element-trumpet{
        text-align: start;
        background: #55DFB4;
        border-radius: 1%;
        height: 12rem;

        img{
            width: 100%;
            height: 100%;
            position: relative;
            top: 2rem;
        }
    }

    h2{
        font-weight: normal;
    }
    .benefits-element-bottom{
        @include benefit-element();
    }
}

@media screen and (max-width: 320px){
    .benefits{
        .benefits-element{
            .circle-and-img-container{
                .pink-circle{
                    right: 1rem;
                }
            }
        }
        .benefits-element-iphone{
            @include benefit-element();
            .blue-circle{
                left: 2rem;
            }
        }
    }
}

@media  screen and (min-width: 768px){

    .benefits {
        padding: 7% 7%;
        .benefits-element{
    
            .circle-and-img-container{
    
                img{
                    margin-top: 3%;
                }
    
                .pink-circle{
                    right: 10rem;
                }
            }
        }

        .benefits-element-iphone{
                .blue-circle{
                    left: 11rem;
                }
            }

        .benefits-element-trumpet{
            text-align: start;
            background: #55DFB4;
            border-radius: 1%;
            height: 12rem;
    
            img{
                width: 70%;
                height: 70%;
                top: 3rem;
            }
        }
    }
} 

@media screen and (min-width: 900px) {
    .benefits{
        .benefits-element{
            .circle-and-img-container{
                .pink-circle{
                    right: 12rem;
                }
            }
         }
         .benefits-element-iphone{
            .blue-circle{
                right: 13rem;
            }
        }
    }
}

@media  screen and (min-width: 1200px){

    .benefits {
        padding: 1% 15%;

        .benefits-element{
            display: flex;
            flex-direction: row-reverse;
            padding: 5%;

            .benefits-element-text-mac{
                border-bottom: solid 4px #FB3B64;
            }

            .circle-and-img-container{
                margin-top: 1%;
                height: 100%;
                img{
                    margin-top: 1%;
                    width: 100%;
                }
    
                .pink-circle{
                    right: 0rem;
                    bottom: 4rem;
                    width: 7rem;
                }
            }
        }

        .benefits-element-iphone{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .benefits-element-text-iphone{
                width: 40%;
                border-bottom: solid 4px #08A6E4;
            }
            .circle-and-img-container{
                margin: 0;
                height: 100%;
                width: 40%;
                img{
                    margin-top: 2rem;
                    width: 120%;
                }
                .blue-circle{
                    left: 0rem;
                    bottom: 20rem;
                    width: 15rem;
                    height: 15rem;
                }
            }
        }
           .bottom-benefits{
                display: flex;
                justify-content: space-between;
                padding: 5% 2%;
                .benefits-element-bottom{
                    text-align: start;
                    padding: 5%;
                    width: 50%;
                    height: 100%;
                     p{
                        border-bottom: solid 4px #55DFB4;
                        padding-bottom: 3%;
                     }
                }
                .benefits-element-trumpet{
                    margin-top: 5%;
                    text-align: start;
                    background: #55DFB4;
                    border-radius: 1%;
                    width: 35%;
                    height: 17.5rem;
            
                    img{
                        width: 100%;
                        height: auto;
                        bottom: 0;
                    }
                }
            }
        }
} 

@media  screen and (min-width: 1920px){

    .benefits {
        padding: 1% 15%;

        .benefits-element{
            display: flex;
            flex-direction: row-reverse;
            padding: 5%;

            .benefits-element-text-mac{
                border-bottom: solid 4px #FB3B64;
                font-size: 1.5rem;
            }

            .circle-and-img-container{
                margin-top: 1%;
                height: 100%;
                img{
                    margin-top: 15%;
                    margin-left: 5%;
                }
    
                .pink-circle{
                    right: 0rem;
                    top: 2rem;
                    bottom: 0rem;
                    width: 10rem;
                    height: 10rem;
                }
            }
        }

        .benefits-element-iphone{
            display: flex;
            align-items: center;
            justify-content: space-around;
            .benefits-element-text-iphone{
                border-bottom: solid 4px #08A6E4;
                font-size: 1.5rem;
                width: 40%;
            }
            .circle-and-img-container{
                width: 40%;
                margin: 0;
                height: 100%;
                .blue-circle{
                    right: 8rem;
                    bottom: 20rem;
                    width: 25rem;
                    height: 25rem;
                    img{
                        
                        left: 1rem;
                    }
                }
            }
        }
           .bottom-benefits{
                display: flex;
                justify-content: space-between;
                padding: 5% 2%;
                .benefits-element-bottom{
                    text-align: start;
                    padding: 5%;
                    width: 50%;
                    height: 100%;
                    font-size: 1.5rem;
                     p{
                        border-bottom: solid 4px #55DFB4;
                        padding-bottom: 3%;
                     }
                }
                .benefits-element-trumpet{
                    margin-top: 5%;
                    text-align: start;
                    background: #55DFB4;
                    border-radius: 1%;
                    width: 35%;
                    height: 24rem;
            
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    } 
