footer{
    position: relative;
    bottom: 0;
    top: 10rem;
    background:#F7F7F7;
    box-shadow: 0px -5px 40px 0px #00000033;
    padding: 2% 4%;

    .text{
        display: inline-block;
        width: 60%;
        h2{
            font-weight: normal;
            color: #08A6E4;
            margin: 0;
        }

        p{
            color: #A5A5A5;
            font-size: 0.6rem;
            margin: 0;
        }
    }

    .footer-imgs{
        width: 30%;
        text-align: center;
        display: inline-block;
        margin-left: 2rem;
        img{
            display: inline-block;
            margin-left: 1rem;
        }
    }
}

@media screen and (min-width:768px){
    footer{
        display: flex;
        justify-content: space-between;
        .footer-imgs{
            width: 10%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img{
                height: 60%;
            }
        }
    }
}

@media screen and (min-width: 1980px) {
    footer{
        padding: 1%;
        .text{
            p{
                font-size: 1.5rem;
            }
        }
    }
    .footer-imgs{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 5%;
    }
}