
//why uss
@mixin circle($color){
    display: inline-block;
    background: $color;
    width: 20%;
    height: 4rem;
    border-radius: 100%;
}
@mixin circle-768($color){
    display: inline-block;
    background: $color;
    width: 18%;
    height: 6rem;
    border-radius: 100%;
}
@mixin circle-1200($color){
    display: inline-block;
    background: $color;
    width: 35%;
    height: 5.5rem;
    border-radius: 100%;
}
@mixin circle-1920($color){
    display: inline-block;
    background: $color;
    width: 25%;
    height: 7rem;
    border-radius: 100%;
}


//pricing
@mixin input($backgroundColor){
    background: $backgroundColor;
    color: white;
    border-radius: 23px;
    border: none;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    text-align: center;
}

@mixin box($color){
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border: 1px solid $color;
    display: inline-block;
}

@mixin pricing-element($color){
    border: 2px solid $color;
    border-radius: 18px;
    font-size: 0.6rem;
    width: 100%;
    
    .plan{
        display: inline-block;
        padding: 2%;
        width: 45%;
        margin: auto;
        font-size: 1rem;

        h3{
           margin: 0;
        }
        
        p{
            color: $color;
            font-size: 3rem;
            margin: 0;
            
        }
    }

    .characteristics{
        display: inline-block;
        padding: 2%;
        width: 45%;

        .characteristics-pair{
            text-align: start;

            p{
                display: inline-block;
            }
        }
    }
}

@mixin pricing-element-container($color){
    margin-top: 15%;
    .pricing-element{
        @include pricing-element($color);
    }
    input[type="button"]{
        @include input($color);
        position: relative;
        bottom: -1.6rem;
    }
}

@mixin pricing-element-container-1200($color){
    @include pricing-element-container($color);
    margin-top: 5%;
    width: 30%;
    input[type="button"]{
        bottom: -1.6rem;
    }

    .pricing-element{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in;

        .characteristics{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .characteristics-pair{
                width: 60%;
                img{
                    width: 1rem;
                    height: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }

    .pricing-element:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 0px $color;
    }
}

@mixin pricing-element-container-1920(){
    width: 20%;
    margin-top: 5%;
    input[type="button"]{
        width: 50%;
        height: 3rem;
        border-radius: 100rem;
        padding: 0;
        font-size: 1.5rem;
        bottom: -1.2rem;
    }
    .pricing-element{
        font-size: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .plan{
            font-size: 1.5rem;
        }
        .characteristics{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .characteristics-pair{
                width: 50%;
                img{
                    width: 1rem;
                    height: 1rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}

//benefits
@mixin benefit-element(){
    padding: 7%;
    text-align: start;
    margin-top: 5%;
    background: #FFFFFF;
    border-radius: 1%;

    .circle-and-img-container{
        width: 100%;
        position: relative;
        text-align: center;
        margin-top: 5%;
        height: 30%;

        img{
            position: relative;
            display: inline-block;
            z-index: 10;
            margin-top: 5%;
        }
    }
}