.pricing{
    padding: 5%;

    h2{
        font-weight: normal;
    }

    @mixin input($backgroundColor){
        background: $backgroundColor;
        color: white;
        padding: 5%;
        border-radius: 23px;
        border: none;
        width: 8rem;
        height: 2.5rem;
        position: relative;
        bottom: -1.5rem;
    }

    @mixin box($color){
        width: 11px;
        height: 11px;
        border-radius: 2px;
        border: 1px solid $color;
        display: inline-block;
    }

    @mixin pricing-element($border, $color){
        border: 2px solid $border;
        border-radius: 18px;
        padding: 2%;
        font-size: 0.6rem;

        
        .plan{
            display: inline-block;
            padding: 2%;
            width: 45%;
            margin: auto;
            font-size: 1rem;

            h3{
               margin: 0;
            }
            
            p{
                color: $color;
                font-size: 3rem;
                margin: 0;
                
            }
        }

        .characteristics{
            display: inline-block;
            padding: 2%;
            width: 45%;

            .characteristics-pair{
                text-align: start;

                .green-box{
                    @include box(#55DFB4);
                    background-image: url('../../assets/Vector\ 3.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                .pink-box{
                    @include box(#EB476E);
                    text-align: center;

                    p{
                        color:#EB476E ;
                        width: 11px;
                        height: 11px;
                        font-size: 11px;
                    }
                }

                p{
                    display: inline-block;
                }
            }
        }
    }

    .pricing-pink-element{
        @include pricing-element(#FB3B64,#FB3B64);

        input[type="button"]{
            @include input(#EB476E);
        }
    }

    .pricing-blue-element{
        margin-top: 3rem;
        @include pricing-element(#07ACE6,#07ACE6);

        input[type="button"]{
            @include input(#07ACE6);
        }
    }

    .pricing-green-element{
        margin-top: 3rem;
        @include pricing-element(#55DFB4,#55DFB4);

        input[type="button"]{
            @include input(#55DFB4);
        }
    }
}