.pricing{
    padding: 5%;

    h2{
        font-weight: normal;
    }

    @mixin input($backgroundColor){
        background: $backgroundColor;
        color: white;
        padding: 5%;
        border-radius: 23px;
        border: none;
        width: 8rem;
        height: 2.5rem;
        position: relative;
        top: -1.5rem;
    }

    @mixin box($color){
        width: 11px;
        height: 11px;
        border-radius: 2px;
        border: 1px solid $color;
        display: inline-block;
    }

    @mixin pricing-element($border, $color){
        border: 2px solid $border;
        border-radius: 18px;
        padding: 2%;
        font-size: 0.6rem;

        
        .plan{
            display: inline-block;
            padding: 2%;
            width: 45%;
            margin: auto;
            font-size: 1rem;

            h3{
               margin: 0;
            }
            
            p{
                color: $color;
                font-size: 3rem;
                margin: 0;
                
            }
        }

        .characteristics{
            display: inline-block;
            padding: 2%;
            width: 45%;

            .characteristics-pair{
                text-align: start;

                .green-box{
                    @include box(#55DFB4);
                    background-image: url('../../assets/Vector\ 3.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }

                .pink-box{
                    @include box(#EB476E);
                    text-align: center;

                    p{
                        color:#EB476E ;
                        font-size: 11px;
                        margin: 0;
                    }
                }

                p{
                    display: inline-block;
                }
            }
        }
    }

    @mixin pricing-element-container($element-color,$input-color){
        .pricing-pink-element{
            @include pricing-element($element-color,$element-color);
        }
        input[type="button"]{
            @include input($input-color);
        }
    }

    .pricing-element-red-container{
        @include pricing-element-container(#FB3B64,#EB476E);
    }

    .pricing-element-blue-container{
        @include pricing-element-container(#07ACE6,#07ACE6);
    }

    .pricing-element-green-container{
        @include pricing-element-container(#55DFB4,#55DFB4);
        input[type="button"]{
            bottom: 3rem;
        }
    }
}

@media screen and (min-width: 768px){
    .pricing{
        padding: 5% 10%;
        @mixin pricing-element($border, $color){
            .pricing-element-container{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .characteristics{
                .characteristics-pair{
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        .pricing-pink-element{
            @include pricing-element(#FB3B64,#FB3B64);
        }
    }
}