
.container{

    .sell-more{
        padding: 0 10%;
        input{
            background-color: var(--primary-color) ;
            padding:  8% 10%;
            border-radius: 100px;
            border: none;
            margin-top: 1rem;
            width: 100%;
            color: white;
            box-shadow: 5px 10px 14px #07ACE64A;
        }
    }

    img{
        width: 100%;
        height: auto;
        text-align: center;
    }

    @mixin circle($color){
        display: inline-block;
        background: $color;
        width: 20%;
        height: 4rem;
        border-radius: 100%;
    }

    .most-popular{
        width: 90%;
        margin: auto;
        text-align: center;

        h2{
            font-weight: normal;
        }

        .most-popular-element{
            text-align: center;

            img{
                display: inline-block;
                width: 12%;
                position: absolute;
                right: 8.5rem;
            }

            .eye-img{
                display: inline-block;
                width: 15%;
                position: absolute;
                right: 8.2rem;
                margin-top: 5%;
            }

            p{
                opacity: 0.5;
            }

            .pink-circle{
                @include circle(#FB3B64);
            }

            .blue-circle{
                @include circle(#08A6E4);
            }

            .green-circle{
                @include circle(#55DFB4);
            }
        }
    }
}