@use 'mixins' as *;
.container{

    .sell-more{
        padding: 0 10%;
        input{
            background-color: var(--primary-color) ;
            padding:  5% 0;
            border-radius: 100px;
            border: none;
            margin-top: 1rem;
            width: 80%;
            color: white;
            box-shadow: 5px 10px 14px #07ACE64A;
        }

        h2{
            font-size: 2rem;
        }
    }

    img{
        width: 100%;
        height: auto;
        text-align: center;
    }

    .most-popular{
        width: 90%;
        margin: auto;
        text-align: center;

        h2{
            font-weight: normal;
        }
        .most-popular-element-container{
            margin-top: 5%;
            .most-popular-element{
                text-align: center;

                img{
                    display: inline-block;
                    width: 12%;
                    position: absolute;
                    right: 9.5rem;
                }

                .eye-img{
                    display: inline-block;
                    width: 15%;
                    position: absolute;
                    right: 9.2rem;
                    margin-top: 5%;
                }

                .catalog-img{
                    display: inline-block;
                    width: 12%;
                    position: absolute;
                    right: 9.5rem;
                    margin-top: 2%;
                }

                p{
                    opacity: 0.5;
                }

                .pink-circle{
                    @include circle(#FB3B64);
                }

                .blue-circle{
                    @include circle(#08A6E4);
                }

                .green-circle{
                    @include circle(#55DFB4);
                }
            }
        }
    }
}

@media screen and (min-width: 768px){   

    .container{
        .sell-more{
            input{
                padding:  3.5%;
                width: 40%;
                font-size: 1rem;
            }

            h2{
                font-size: 2.5rem;
            }
        }

        .most-popular{
            .most-popular-element-container{
                .most-popular-element{
                    img{
                        width: 10%;
                        right: 16rem;
                    }
    
                    .eye-img{
                        width: 12%;
                        right: 15.5rem;
                    }
    
                    .catalog-img{
                        width: 10%;
                        right: 16rem;
                    }
    
                    .pink-circle{
                        @include circle-768(#FB3B64);
                    }
    
                    .blue-circle{
                        @include circle-768(#08A6E4);
                    }
    
                    .green-circle{
                        @include circle-768(#55DFB4);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px){
    .container{
        .sell-more{
            input{
                padding:  3% 2%;
                width: 35%;
                font-size: 1.2rem;
            }
        }

        .most-popular{
            .most-popular-element-container{
                display: flex;
                justify-content: space-around;
                .most-popular-element{
                    width: 30%;
                    img{
                        width: 6%;
                        left: 12.5rem;
                    }
    
                    .eye-img{
                        width: 8%;
                        right: 27rem;
                        left: auto;
                        margin-top: 2%;
                    }
    
                    .catalog-img{
                        width: 6%;
                        right: 9rem;
                        left: auto;
                        margin-top: 1%;
                    }
    
                    .pink-circle{
                        @include circle-1200(#FB3B64);
                    }
    
                    .blue-circle{
                        @include circle-1200(#08A6E4);
                    }
    
                    .green-circle{
                        @include circle-1200(#55DFB4);
                    }
                }
            }
        }
    }
} 

@media  (min-width:1980px) {
    .container{
        margin-top: 5%;
        .sell-more{
            input{
                padding:2%;
                width: 25%;
                font-size: 2rem;
            }

            h2{
                font-size: 4rem;
            }
        }

        .most-popular{
            .most-popular-element-container{
                display: flex;
                justify-content: space-around;
                .most-popular-element{
                    width: 30%;
                    img{
                        width: 4%;
                        left: 32rem;
                    }
    
                    .eye-img{
                        width: 5%;
                        right: 73rem;
                        left: auto;
                        margin-top: 1%;
                    }
    
                    .catalog-img{
                        width: 3%;
                        right: 26rem;
                        left: auto;
                        margin-top: 1%;
                    }
    
                    .pink-circle{
                        @include circle-1980(#FB3B64);
                    }
    
                    .blue-circle{
                        @include circle-1980(#08A6E4);
                    }
    
                    .green-circle{
                        @include circle-1980(#55DFB4);
                    }
                }
            }
        }
    }
}